

.formContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    .formContainer__formContact{
    input{
        display: block;
        margin-bottom: 20px;
        padding: 15px;
        width: 20vw;
    }
    #send__button{
        margin: 0 auto;
        border: none;
        color: #fff;
        background-color:  #58A5CF;
        border-radius: 10px;
        cursor: pointer;
        transition: ease-in 0.7s;
    }
    #send__button:hover{
        background-color: #176996;
    }
}

}


@media (max-width: 800px) {
    .formContainer{
        flex-direction: column;
        justify-content: center;
        .formContainer__info{
            img{
                margin-bottom: 5vh;
            }
        }
        .formContainer__formContact{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            input{
                width: 200px;
            }
        }
    }
}