.formSection{
    display: flex;
    flex-direction: column;
    // section{
    //     position: relative;
    // }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            width: 40vw;
            height: 5vh;
        }
        textarea{
            width: 40vw;
            resize: none;
        }
        #submitButton{
            width: 20vw;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}

#FlySvg{
    width: 60px;
    // animation-name: Fly;
    // animation-duration: 5s;
}

@media (max-width:800px) {
    .formSection{
        form{
            
        }
    }
}

@keyframes Fly {
    0%{
        left: -400px;
        top: 40px;
        position: absolute;
        
    }
    25%{
        left: 300px;
        position: absolute;
    }
    50%{
        left: 200px;
        position: absolute;
    }
    90%{
        left: -200px;
        position: absolute;
    }
    100%{
        left: 10px;
        position: absolute;
    }
}