.projectsContainer{
    background-color: #5D6868;
    color: #fff;
    display: flex;
    flex-direction: column;
    .projectsContainer__content{
        display: flex;
        align-items:center;
        flex-direction: column;
        .testStart{
            margin: 5vw 0;
            width: 90%;
            display: flex;
            opacity: 0;
            transition: all .5s;
            margin-right: 30px;
            div{
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                .container__buttons{
                    display: flex;
                    flex-direction: row;
                        .CodeButton{
                            text-decoration: none;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            width: 10vw;
                            height: 7vh;
                            background-color: lightblue;
                            border-radius: 5px;
                            color: #000;
                            cursor: pointer;
                            img{
                                width: 20px;
                            }   
                        }                
                }      
            }

            #CRUDimage{
                width: 80vw;
                height: 43vh;
                background-image: url('../../assets/CRUD.gif');
                margin-right: 5vw;
                background-size: contain;
            }
        }
    }
}

@media (max-width: 800px) {
    .projectsContainer{
        .projectsContainer__content{
            .testStart{
                flex-direction: column;
                align-items: center;
                div{
                    .container__buttons{
                        .CodeButton{
                            width: 100px;
                        }
                    }
                }
                #CRUDimage{
                    width: 250px;
                    height: 150px;
                    background-size: cover;
                    margin-right: 0;
                }
            }
        }
    }
}

