$colourTheme: #5D6868;

.footerContainer{
    background-color: $colourTheme;
    color: #fff;
    padding: 20px 0;

    .footerContainer__social{
        display: flex;
        justify-content: center;
        a{
            text-decoration: none;
            color: #fff;
        }
        img{
            width: 50px;
        }
    }
}

