/*STYLES*/

$mainColour: #81A5E5;
$buttonColour: #fff;

/*SLIDER*/

.Slider{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    height: 70vh;
    animation-name: darkBackground;
    animation-duration: 8s;
    .Slider__text{
        color: #fff;
        font-size: 5vh;
        margin-right: 5%;
        h1{
            font-size: 10vh;
        }
        h2{
            font-size: 7vh;
        }
    }
}

/*ABOUT*/

.AboutSection{
    p{
        padding: 1.5vh 1.5vw;
        font-size: 30px;
        line-height: 30px;
    }
}

/*PROJECT SECTION*/

.ContainerProjects{
    background-color: $mainColour;
    color: #fff;
    display: flex;
    flex-direction: column;
    .ArticleProject{
        display: flex;
        align-items:center;
        flex-direction: column;
        .ArticleProject__container{
            margin: 5vw 0;
            width: 90%;
            display: flex;
            opacity: 1;
            transition: all .5s;
            display: flex;
            justify-content: space-between;
            div{
                p{
                    padding: 1.5vw 1vw;
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 auto;
                .ArticleProject__buttons{
                    width: 300px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                        a{
                            text-decoration: none;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            width: 10vw;
                            height: 7vh;
                            background-color: $buttonColour;
                            border-radius: 5px;
                            color: #000;
                            cursor: pointer;
                            img{
                                width: 20px;
                            }   
                        }                
                }      
            }

            img{
                width: 500px;
                background-size: contain;
            }
        }
    }
}

/*TECH SECTION*/

.TechSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .TechSection__items{
        margin-bottom: 8vh;
        display: grid;
        grid-template-columns: repeat(8, 10vw);
        opacity: 1;
        transition: all .5s;
        div{
            display: flex;
            align-items: center;
            flex-direction: column;
            transition: all 0.3s;
            img{
                width: 50px;
            }
        }
        div:hover{
            transform:translateY(-5px)
        }
    }
}

/*FOOTER*/

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $mainColour;
    color: #fff;
    padding: 20px 0;
    .footerContainer__text{
        p{
            padding: 1vh .5vw;
        }
    }

    .footerContainer__contact{
        width: 20%;
        display: flex;
        justify-content: space-around;
        a{
            img{
                width: 50px;
            }
        }
    }
}

//ANIMATIONS

@keyframes techShow {
    from{
        margin-left: 100%;
        opacity: 0;
    }
    to{
        margin-left: 0;
        opacity: 100%;
    }
}

@keyframes techShowText {
    from{
        margin-right: 100%;
        opacity: 0;
    }
    to{
        margin-right: 0;
        opacity: 100%;
    }
}

@keyframes showText {
    from {
        margin-right: 50px;
        opacity: 0;
    }
    to{
        margin-left: 0;
        opacity: 100%;
    }
}

@keyframes darkBackground {
    from {
        filter: brightness(0);
    }
    to {
        filter: brightness(1);
    }
}

//MEDIA QUERIES



@media (max-width: 800px) {

    /*SLIDER*/

    .Slider{
        height: 40vh;
        justify-content: center;
        flex-direction: column;
        .Slider__text{
            margin-right: 0;
            h1{
                animation-name: none;
                font-size: 5vh;
            }
            h2{
                animation-name: none;
                font-size: 3vh;
            }
        }
    }

    /*PROJECT SECTION*/

    .ContainerProjects{
        .ArticleProject{
            .ArticleProject__container{
                flex-direction: column;
                align-items: center;
                div{
                    .ArticleProject__buttons{
                        width: 80vw;
                        a{
                            width: 100px;
                        }
                    }
                }
                img{
                    width: 80vw;
                }
            }
        }
    }

    /*TECH SECTION*/

    .TechSection{
        .TechSection__items{
            grid-template-columns: repeat(2, 20vw);
            grid-template-rows: repeat(4, 20vw);
            grid-gap: 15vw;
        }
    }

    /*FOOTER*/

    footer{
        .footerContainer__contact{ width: 50%; }
    }
}

// @media (max-width: 800px), (max-height: 500px) {
//     .AboutSection{
//         p{
//             font-size: 2vw
//         }
//     }
// }